:root {
    color: white;
    font-size:20px;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: #1f1f1f;
}

.display-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    display: grid;
    grid-template-columns: min-content;
    justify-content: center;
    gap: 1rem;
}

canvas {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #1f1f1f;
    z-index: -1
}

.hide {
    display: none
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start > button {
    width: 100%;
    background-color: white;
}

#player1 {
    position: absolute; 
    left: 50%;
    transform: translate(-100%, 0);
    text-align: right;
    padding-right: 32px;
}

#player2 {
    position: absolute; 
    left: 50%;
    text-align: left;
    padding-left: 32px;
}

#display-game-code {
    position: absolute; 
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0)
}
